 
 <p myHighlight>Highlight me!</p>
 
  <p myHostListenerHighlight>Highlight me!</p>
  
  <h4>Pick a highlight color</h4>
<div class="row">
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='blue'">blue
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHostListenerHighlight]="color">Highlight me!</p>
 <div class="row">
  <button class="btn btn-success" (click)="gotoDetail()">New Recipe</button>
  </div>
  <div class="row">
  <a href="#" class="list-group-item clearfix" *ngFor="let recipe of items">
  <h4 class="list-group-item-heading">{{recipe.name}}</h4>
  <p class="list-group-item-text">{{recipe.description}}</p>
  <span class="pull-right">
		<img src="{{recipe.image}}" class="img-responsive" style="max-height:150px"/>
  </span>  
  </a>
  <p *ngIf="items.length > 3">There are many recipe!</p>
  <input #box
      (keyup.enter)="update(box.value)"
      (blur)="update(box.value)"/>
    <p>{{value}}</p>
 <app-recipesitem></app-recipesitem>
  </div>
